.priceSlider
{
	width: 100%;
    padding: 5px 10px;
    box-shadow: 0px 0px 2px 0px #888;
    border: 1px solid #eaeaea;
    margin-bottom: 20px;
}
.priceSlider h1
{
font-size: 17px;
font-weight: bold;
}
.priceSlider p
{
font-size: 10px;
margin-top: 20px;    
}
.min-max label
{
font-size: 14px;
float: left;
margin-right: 5px;
line-height: 1.6;    
}
.min
{
float: left;    
}
.max
{
float: right;    
}
.min-max {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    padding: 25px 10px 15px 0px;
}
.min-max span {
    font-size: 10px;
    text-align: center;
    display: inline-block;
    width: 45px;
    border: 1px solid #dedede;
}
.min-max-range
{
padding: 50px 0px 20px 0px;    
}
.range
{
-webkit-appearance:none;
appearance:none;
width: 50%;
height: 10px;
max-width: 400px;
background-color: #dedede;
margin: 0;
padding: 0;
outline: none;
float: left;    
}
.range::-webkit-slider-thumb
{
-webkit-appearance:none;
appearance:none;
background-color: #0070BF;
height: 10px;
width: 10px;
border-radius: 50%;
cursor: pointer;
}
.range::moz-range-thumb
{
-webkit-appearance:none;
appearance:none;
background-color: #0070BF;
height: 10px;
width: 10px;
border-radius: 50%;
cursor: pointer;
}